---
import Socials from "./Socials.astro";
---

<div
	class="relative flex flex-row justify-between py-10 border-t-2 border-t-orange-500 mt-auto"
>
	<span> Copyright &copy; 2025 | All rights reserved. </span>
	<Socials />
</div>
