---
import { FaSearch } from "react-icons/fa";

const { pathname } = new URL(Astro.request.url);
---

<div
	class="flex md:p-8 py-8 px-2 w-full items-center justify-center border-b border-b-orange-500"
>
	<nav class="flex flex-row justify-between items-center w-full">
		<a href="/" class="md:text-4xl text-2xl mr-auto"> JustFossa </a>
		<div class="flex flex-row gap-6 items-center">
			<a
				href="/posts"
				class={`${pathname == "/posts" && "border-dashed border-b-white hover:border-b-orange-500"} border-b-2 border-transparent text-lg hover:text-orange-500 cursor-pointer`}
			>
				Posts
			</a>
			<a
				href="/tags"
				class={`${pathname == "/tags" && "border-dashed border-b-white hover:border-b-orange-500"} border-b-2 border-transparent text-lg hover:text-orange-500 cursor-pointer`}
			>
				Tags
			</a>
			<a
				href="/about"
				class={`${pathname == "/about" && "border-dashed border-b-white hover:border-b-orange-500"} border-b-2 border-transparent text-lg hover:text-orange-500 cursor-pointer`}
			>
				About
			</a>

			<a
				href="/search"
				class={`${pathname == "/search" && "border-dashed border-b-white hover:border-b-orange-500"} border-b-2 border-transparent text-lg hover:text-orange-500 cursor-pointer`}
			>
				<FaSearch />
			</a>
		</div>
	</nav>
</div>
