---
import "../styles/global.css";
import Navbar from "../components/Navbar.tsx";
import '@fontsource/cascadia-code'
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="h-screen dark items-center flex flex-col dark:bg-gray-900">
		<div class="w-[35%] flex flex-col gap-5">
			<Navbar />
			<slot />
		</div>
	</body>

</html>

